{% extends "base.html" %}

{% block content %}
    <h2>{{ category.name }}</h2>
    <div class="list-group">
    {% for child_cat in cat.childs %}
        <div>
        <a style="color: black; display: inline-block" class="nav-link" href="{% url 'products:category_detail' category_slug=child_cat.slug %}"><h3>{{ child_cat.name }}</h3></a>
        <h3 style="display: inline-block; margin-left: 700px">Quantity: {{ child_cat.products.count }}</h3>
        </div>
    {% endfor %}
</div>
{% endblock content %}
